/** color palette
 DARK BLUE: #00709A
 MAIN BLUE: #63BFE1
 DARK GRAY: #47525E
 MAIN GRAY: #9FAAB0
 LIGHT GRAY: #ECF0F2
**/

/** basics start **/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
body {
    background-color: #ECF0F2;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 { 
    font-family: 'Roboto', sans-serif;
    color: #47525E;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #9FAAB0;
    letter-spacing: 0.50px;
}
a {
    -o-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.text-center {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}
/** basics end **/

/** navigation start **/
.navbar {
    background-color: #63BFE1!important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
}
.navbar-nav {
    text-align: center;
}
nav a {
    color: white;   
}
nav a:hover {
    color: #00709A;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.mc-logo {
    height: 40px;
}
/** navigation end **/

/** footer start **/
footer { 
    background-color: #63BFE1;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}
/** footer end **/

/** home page start **/
.landing-inner {
    padding-top: 80px;
}
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.homePage {
    text-align: center;
    width: 100%;
    position: relative;
    background: url("./img/team.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: -50px;
}
.homePage h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 50px; 
}
.homePage p {
    margin: 0 5%;
}
.homePageButtons {
    width: 50%;
    margin: 20px auto;
}
.homePageButtons button {
    width: 48%; 
    margin: 0 1%;; 
    display: inline-block;
    border: none;
    background-color: #63BFE1;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 20px;
}
.homePageButtons button:hover {
    background-color:#00709A;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
p.description {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 26px;
}
/** home page end **/

/** register page start **/
.registerPage {
    text-align: center;
    background-color: #fff;
    width: 1000px;
    margin: 5% auto;
}
.registerPage h2 {
    font-size: 30px; 
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 5%;
    margin-bottom: 10px;
}
.registerPage a {
    color: #63BFE1;
    text-decoration: none;
    -o-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.registerPage a:hover {
    color: #00709A;
    text-decoration: none;
}
.registerPage p {
    margin: 0 5%;   
}
p.terms {
    padding-bottom:5%;
}
/** register page end **/

/** login page start **/
.loginPage {
    text-align: center;
    background-color: #fff;
    width: 1000px;
    margin: 5% auto;
}
.loginPage h2 {
  font-size: 30px; 
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 5%;
  margin-bottom: 10px;
}
.loginPage a {
  color: #63BFE1;
  text-decoration: none;
  -o-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.loginPage a:hover {
  color: #00709A;
  text-decoration: none;
}
.loginPage p {
  margin: 0 5%;
}
p.help {
  padding-bottom:5%;
}
/** login page end **/

/** form start **/
.mentorCrowdForm .formContainer {
  display: block;
  width: 75%;
  margin: 0 auto;
  position: relative;
  text-align: left;
}
.mentorCrowdForm #form {
  display: inline-block;
  padding: 25px;
  width:100%;
}
.mentorCrowdForm fieldset {
  border: medium none !important;
  margin: 0 0 15px;
  padding: 0;
}
.mentorCrowdForm #form textarea, #form input[type="text"], #form input[type="password"], #form input[type="email"] {
  width: 100%;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  color: #47525E;
}
.mentorCrowdForm #form textarea:hover, #form input[type="text"]:hover, #form input[type="password"]:hover, #form input[type="email"]:hover 
{
  border:1px solid #47525E;
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
}
.mentorCrowdForm #form button[type="submit"] {
  width:100%;
  background-color:#63BFE1;
  color:#FFF;
  border:none;
  padding:10px;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.mentorCrowdForm #form button[type="submit"]:hover {
  background-color:#00709A;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}
/** form end **/

/** feed page start **/
.feed {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.feed .card-header, .post-form .card-header {
    background-color: #9FAAB0!important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #fff;
}
.post-form textarea {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #47525E;
    letter-spacing: 0.5px;
}
.post-form button[type="submit"]{
    width: 100%;
    background-color: #9FAAB0;
    color: #fff;
    border: none;
    padding: 7px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 3px;
}
.post .btn {
    width: auto;
    padding: auto 20px;
}
.post-form button[type="submit"]:hover{
    background-color: #47525E;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
.lead {
    color: #47525E!important;
    font-size: 18px;
}
.btn-info {
    background-color: #9FAAB0;
    border-color: #9FAAB0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.btn-info a:hover {
    background-color: #47525E;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
p.post-name {
    color: #47525E!important;
}
.post {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.post a {
    color: #47525E;
    transition: 0.4s ease-in-out;
}
.post a:hover {
    text-decoration: none;
    color: #000;
}
.feed .btn-info {
    background-color: #9FAAB0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.feed .text-info {
    color: #63BFE1!important;
}
.feed .btn-danger {
    background-color: #63BFE1;
    border-color: #63BFE1;
}
.feed .btn-danger:hover {
    background-color: #00709A;
    border-color: #00709A;
}
.feed mr-1 {
    margin-right: 10px!important;
}
p.failcase {
    color: #47525E;
    font-size: 18px;
    text-align: center;
}
p.failcase a {
    color: #63BFE1;
}
p.failcase a:hover {
    color: #00709A;
    text-decoration: none;
}
/** feed page end **/

/** developer profile page start **/
.profiles {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profiles h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
.profiles p.description {
    color: #47525E;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.profiles h3 {
    color: #47525E;
    font-size: 24px;
    margin-bottom: 10px;
}
.profiles p {
    color: #47525E;
    font-size: 16px;
    margin-bottom: 5px;
}
.profiles .btn {
    font-size: 16px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px 10px;
}
.profiles .btn-info:hover {
    background-color: #47525E;
}
.profiles .text-info {
    color: #63BFE1!important;
}
.profiles .list-group-item {
    padding: 5px 10px;
/*    border: none;*/
    font-size: 16px;
    color: #47525E;
    font-family: 'Roboto', sans-serif;
}
/** developer profile page end **/

/** recommended page start **/
.matches {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.matches h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
.matches p.description {
    color: #47525E;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.matches h3 {
    color: #47525E;
    font-size: 24px;
    margin-bottom: 10px;
}
.matches p {
    color: #47525E;
    font-size: 16px;
    margin-bottom: 5px;
}
.matches .btn {
    font-size: 16px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px 10px;
}
.matches .btn-info:hover {
    background-color: #47525E;
}
.matches .text-info {
    color: #63BFE1!important;
}
.matches .list-group-item {
    padding: 5px 10px;
/*    border: none;*/
    font-size: 16px;
    color: #47525E;
    font-family: 'Roboto', sans-serif;
}
/** recommended page end **/

/** events page start **/
.events .btn-primary {
    background-color: #9FAAB0;
    border: none;
    color: #fff;
    font-size: 18px;
}
.events .btn-primary:hover {
    background-color: #47525E;
}
.events h2 {
    font-size: 28px;
    color: #47525E;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
.events p {
    margin-bottom: 5px;
}
.events p.host {
    text-align: center;
    color: #47525E;
    font-size: 18px;
}
.events p.description {
    font-size: 20px;
    text-align: center;
    color: #47525E;
    margin-top: 0px;
    margin-bottom: 10px;
}
.events .eventactions {
    margin: 30px auto 15px auto;
}
.events .eventactions button { 
    width: 300px;
    background-color: #9FAAB0;
}
.events p.alert {
    text-align: center;
    color: #47525E;
    font-size: 18px;
    margin: 0 auto;
    text-transform: uppercase;
}
.eventform p.lead {
    margin-bottom: 10px;
}
.events button.btn-cancel {
    background-color: #dc3545;
}
.modal-footer .btn {
    background-color: #9FAAB0;
    border: none;
    text-transform: uppercase;
    width: 50%;
}
.modal-footer .btn:hover {
    background-color: #47525E;
    border: none;
}
.modal-content h5 {
    font-size: 22px;
}
.modal-content .btn {
    background-color: #9FAAB0;
    border: none;
    text-transform: uppercase;
}
.modal-content .btn:hover {
    background-color: #47525E;
    border: none;
}
/** events page end **/

/** dashboard page start **/
p.welcome {
    color: #47525E;
    font-size: 24px;
}
.dashboard .btn {
    background-color: #9FAAB0;
    color: #fff;
    padding: 10px 30px;
    margin-bottom: 20px;
    border: none;
}
.dashboard .btn:hover {
    background-color: #47525E;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
.dashboard h1 {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}
.dashboard .btn-group {
    width: 100%;
}
.dashboard .btn {
    background-color: #9FAAB0;
    color: #fff;
    border: none;
}
.dashboard .btn:hover {
    background-color: #47525E;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
.dashboard i {
    color: #fff;
    padding-right: 10px;
}
.dashboard img {
    margin-top: 3px;
    margin-right: -20px;
}
.add-experience .btn, .add-education .btn {
    background-color: #9FAAB0;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}
.add-experience .btn:hover, .add-education .btn:hover {
    background-color: #47525E;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
.add-experience h1, .add-education h1 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #47525E;
}
.add-experience p.lead, .add-education p.lead {
    margin-bottom: 20px;
    color: #47525E;
    text-transform: uppercase;
}

/** dashboard page end **/

/** profile page start **/
.create-profile {
    font-family: 'Roboto', sans-serif;
}
.create-profile h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.create-profile p.lead {
    color: #47525E;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1rem;
}
.create-profile small {
    color: #47525E;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.25px;
}
.create-profile .btn-info {
    background-color: #9FAAB0;
    margin-bottom: 20px;
}
.create-profile .btn-info:hover {
    background-color: #47525E;
    border: none;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
.profilePage {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
}
.profilePage h3 {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 5px;

}
.profilePage h4 {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 200;
 padding-bottom: 3px;
}
.profilePage h5 {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 4% 5px 4%;
}
.profilePage h6 {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 5px 4% 0 4%;
}
.basicInfo {
  display:inline-block;
  width: 100%;
  padding: 5% 2%;
  margin: 0 auto;
}
.basicInfo-image {
  display: inline-block;
  width: 31%;
  float: left;
  margin: 0 2%;
}
.basicInfo-image img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.basicInfo-text {
  display: inline-block;
  width:61%;
  float:left;
  margin: 0 2%;
}
.profileAttributes p {
  padding: 0 4% 3px 4%;
}
.education {
  padding-bottom: 10px;
}

.experience {
  padding-bottom: 10px;
}
.skills {
  padding-bottom: 10px;
}
.certifiates {
  padding-bottom: 10px;
}
.bg-gray {
    background-color: #9FAAB0; 
}
/** profile page end **/

/** responsive start **/
@media screen and (max-width: 1200px) {
    .loginPage {
        width: 90%;
    }
    .registerPage {
        width: 90%;
    }
}

@media screen and (max-width: 575px) {
    .homePageButtons {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .homePageButtons button {
        width: 100%; 
        margin: 1% 1%;
    }
    .mentorCrowdForm .formContainer{
        width: 100%;
    }
}
/** responsive end **/